{% extends 'TopxiaWebBundle:CourseStudentManage:index.html.twig' %}

{% block title %}学员管理 - {{ parent() }}{% endblock %}

{% set submenu = 'student' %}

{% set script_controller = 'course-manage/students' %}

{% block maincontent %}



    <div class="form-group" style="width: 100%">
       <form action="{{ path('course_fetch_bat_student',{courseId:courseId}) }}">
           <div class="form-group">
                科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室
               <select id="keshi" name="keshi" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   {% for k in classr %}
                       <option {% if keshi == k.id %} selected {% endif %} value="{{ k.id }}"> {{ k.title }} </option>
                   {% endfor %}
               </select>
               科室分类
               <select id="sskeshi" name="sskeshi" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="管理及其他部门"> 管理及其他部门 </option>
                   <option value="临床部门"> 临床部门 </option>
                   <option value="医技部门"> 医技部门 </option>
               </select>
           </div>
           <div class="form-group">
             人员类别
               <select id="memberType" name="memberType" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="护士"> 护士 </option>
                   <option value="技师"> 技师 </option>
                   <option value="医生"> 医生 </option>
                   <option value="药师"> 药师 </option>
                   <option value="收款员"> 收款员 </option>
                   <option value="其他"> 其他 </option>
               </select>
               职称分类
               <select id="jobType" name="jobType" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="正高"> 正高 </option>
                   <option value="副高"> 副高 </option>
                   <option value="中级"> 中级 </option>
                   <option value="初级"> 初级 </option>
               </select>
           </div>
           <div class="form-group">
               出生日期
               <input type="text" name="birthday" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;"/>
               到
               <input type="text" name="birthday_end" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;"/>
           </div>
           <div class="form-group">

               最高学位
               <select id="degree" name="degree" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="医学博士"> 医学博士 </option>
                   <option value="医学硕士"> 医学硕士 </option>
                   <option value="医学学士"> 医学学士 </option>
                   <option value="工学博士"> 工学博士 </option>
                   <option value="工学硕士"> 工学硕士 </option>
                   <option value="工学学士"> 工学学士 </option>
                   <option value="教育学博士"> 教育学博士 </option>
                   <option value="教育学硕士"> 教育学硕士 </option>
                   <option value="教育学学士"> 教育学学士 </option>
                   <option value="经济学博士"> 经济学博士 </option>
                   <option value="经济学硕士"> 经济学硕士 </option>
                   <option value="经济学学士"> 经济学学士 </option>
                   <option value="理学博士"> 理学博士 </option>
                   <option value="理学硕士"> 理学硕士 </option>
                   <option value="理学学士"> 理学学士 </option>
                   <option value="农学博士"> 农学博士 </option>
                   <option value="农学硕士"> 农学硕士 </option>
                   <option value="农学学士"> 农学学士 </option>
                   <option value="文学博士"> 文学博士 </option>
                   <option value="文学硕士"> 文学硕士 </option>
                   <option value="文学学士"> 文学学士 </option>
                   <option value="法学博士"> 法学博士 </option>
                   <option value="法学硕士"> 法学硕士 </option>
                   <option value="法学学士"> 法学学士 </option>
                   <option value="其他学博士"> 其他学博士 </option>
                   <option value="其他学硕士"> 其他学硕士 </option>
                   <option value="其他学学士"> 其他学学士 </option>
                   <option value="博士..."> 博士... </option>
                   <option value="硕士..."> 硕士... </option>
                   <option value="学士..."> 学士... </option>
               </select>
           </div>
           <button type="submit" clas="btn bbtn btn-info btn-sm mhs" style="width: 10%">搜索</button>
       </form>
    </div>
    {#
           <form action="{{  }}"  >
               <input id="ids" type="hidden" />
               <div  >
                   <table id="userMember">
                       <th><tr><td>选择框</td><td>工号</td><td>姓名</td></tr></th>
                       <tbody id="userMemberBody">

                       </tbody>
                   </table>
               </div>
               <button type="submit">提交</button>
           </form>
       #}
{% endblock %}